<h1>Listing hiscores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Rank</th>
    <th>Devid</th>
    <th>Achieved date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hiscores.each do |hiscore| %>
  <tr>
    <td><%= hiscore.name %></td>
    <td><%= hiscore.score %></td>
    <td><%= hiscore.rank %></td>
    <td><%= hiscore.devid %></td>
    <td><%= hiscore.achieved_date %></td>
    <td><%= link_to 'Show', hiscore %></td>
    <td><%= link_to 'Edit', edit_hiscore_path(hiscore) %></td>
    <td><%= link_to 'Destroy', hiscore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hiscore', new_hiscore_path %>
